<!DOCTYPE html>
<html>
<head>
  <title>{{ getHeaderTitle() }}</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" v-bind:href="'./css/themes/' + getThemeFilename()">
  <script src="node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <p>{{ strings.headerTitle }}</p>

    <p>Current theme: {{ settings.ui.currentTheme }}</p>
    <p>Current language: {{ settings.ui.currentLanguage }}</p>

    <select v-model="settings.ui.currentTheme">
        <option v-for="theme in settings.themes" :value="theme.id">
          {{ theme.name }}
        </option>
    </select>

    <select v-model="settings.ui.currentLanguage">
        <option v-for="language in settings.languages" :value="language.id">
          {{ language.name }}
        </option>
    </select>
  </div>

  <script type="module">
    import app from './app.vue'
    import Tab from './js/components/Tab.vue'
  </script>
</body>
</html>
