body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Gives buttons a default 'flat' look */
button {
  border: none;
}
/* Removes the outline on buttons after they're clicked in Firefox */
button::-moz-focus-inner {
  border: 0;
}
