div#header {
  display: flex;
  background-color: var(--header-background);
  padding: 6px;
}

#header-left-container {
  flex: 1;
}

#header-left-container,
#header-right-container {
  display: flex;
  align-items: center;
}

div#header > * > * {
  margin: 0 4px;
}

#header-title {
  color: var(--header-foreground);
  font-size: 24px;
  padding-right: 10px;
}

.header-button {
  padding: 6px 10px;
  background-color: var(--header-enabled-button-background);
  color: var(--header-enabled-button-foreground);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: all .3s;
  transition: opacity .5s;
  opacity: 1;
}

a.header-button {
  padding: 6px 10px 5px 10px;
}

.header-button:hover {
  box-shadow: 3px 3px 0 0 var(--header-button-hover-shadow);
}

.header-button:disabled {
  /*background-color: var(--header-disabled-button-background);
  color: var(--header-disabled-button-foreground);*/
  cursor: default;
  opacity: 0;
}

/* FontAwesome icon */
.header-button > i.fa {
  font-size: 16px;
}
div#header-left-container > .header-button > i.fa {
  padding-right: 8px;
}
div#header-right-container > .header-button > i.fab {
  padding-left: 8px;
}
.icon-only > i.fa {
  padding: 1px 0;
}
img#branding {
  width: 30px;
  height: 30px;
}
