:root {
  /* TODO remove the disabled-button things */
  --header-background: #2980b9;
  --header-foreground: #f5f5f5;
  --header-button-hover-shadow: rgba(33, 33, 33, .4);
  --header-disabled-button-background: #1679b9;
  --header-disabled-button-foreground: #333333;
  --header-enabled-button-background: var(--active-tab-button-background);
  --header-enabled-button-foreground: var(--header-foreground);
  --inactive-tab-button-background: var(--header-background);
  --inactive-tab-button-foreground: var(--header-foreground);
  --inactive-tab-button-hover-background: var(--active-tab-button-background);
  --inactive-tab-button-hover-foreground: var(--active-tab-button-foreground);
  --active-tab-button-background: #3498d8;
  --active-tab-button-foreground: var(--header-foreground);
  --pane-header-background: var(--active-tab-button-background);
  --pane-header-foreground: var(--active-tab-button-foreground);
  --pane-background: #f0f0f0;
  --pane-foreground: #333333;
  /* Editor */
  --editor-background: var(--pane-background);
  --editor-foreground: var(--pane-foreground);
  --editor-gutter-background: #dddddd;
  --editor-gutter-foreground: #333333;
  --editor-gutter-active-line-background: #cacaca;
  --editor-cursor-color: var(--active-tab-button-background);
  /* Editor syntax highlight */
  --editor-indent-guide-color: #d4d7dd;
  --editor-keyword-color: #1a66ff;
  --editor-constant-color: #ac39ac;
  --editor-invalid-background: #ff3333;
  --editor-comment-color: #4d4d4d;
  --editor-variable-color: #2eb82e;
  --editor-function-color: #cc6600;
  --editor-selection-background: rgba(191, 191, 191, 0.3);
  --editor-active-line-background: #d9d9d9;
  --editor-print-margin-color: var(--editor-indent-guide-color);
}
