/* The following CSS rules abuse the !important statement because of the way
 * ace has its style hard coded in the JavaScript files.
 */
.ace-tm .ace_content {
  background-color: var(--editor-background) !important;
  color: var(--editor-foreground) !important;
}

.ace-tm .ace_gutter {
  background-color: var(--editor-gutter-background) !important;
  color: var(--editor-gutter-foreground) !important;
}
.ace-tm .ace_gutter-active-line {
  background-color: var(--editor-gutter-active-line-background) !important;
}

.ace-tm .ace_cursor {
  color: var(--editor-cursor-color) !important;
  /* FIXME: on some words the cursor is not where it should be */
}

/* Syntax highlight */
.ace-tm .ace_storage,
.ace-tm .ace_keyword {
  color: var(--editor-keyword-color) !important;
}

.ace-tm .ace_constant,
.ace-tm .ace-constant * {
  color: var(--editor-constant-color) !important;
}

.ace-tm .ace_invalid {
  background-color: var(--editor-invalid-background) !important;
  color: var(--editor-foreground) !important;
}

.ace-tm .ace_comment {
  color: var(--editor-comment-color) !important;
}

.ace-tm .ace_variable {
  color: var(--editor-variable-color) !important;
}

.ace-tm .ace_function {
  color: var(--editor-function-color) !important;
}

.ace-tm .ace_marker-layer .ace_selection {
  background-color: var(--editor-selection-background) !important;
}

.ace-tm .ace_marker-layer .ace_active-line {
  background-color: var(--editor-active-line-background) !important;
}

.ace-tm .ace_print-margin {
  width: 2px !important;
  background: var(--editor-print-margin-color) !important;
}

.ace-tm .ace_marker-layer .ace_selected-word {
  background-color: var(--editor-selection-background) !important;
  border: none !important;
  border-bottom: 1px solid var(--editor-keyword-color) !important;
}
.ace-tm .ace_indent-guide {
  border-left: 4px solid var(--editor-indent-guide-color) !important;
  background: none !important;
}

.ace_editor * {
  font-family: "Inconsolata" !important;
  font-size: 14px !important;
}

/*.ace_cursor-layer {
z-index: 4;
}
.ace_cursor {
z-index: 4;
position: absolute;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border-left: 2px solid
}
.ace_slim-cursors .ace_cursor {
border-left-width: 1px;
}
.ace_overwrite-cursors .ace_cursor {
border-left-width: 0;
border-bottom: 1px solid;
}
.ace_hidden-cursors .ace_cursor {
opacity: 0.2;
}
.ace_smooth-blinking .ace_cursor {
-webkit-transition: opacity 0.18s;
transition: opacity 0.18s;
}
.ace_editor.ace_multiselect .ace_cursor {
border-left-width: 1px;
}*/
