/* TODO remove once the app is properly filled with content */
#app {
    background-color: var(--pane-background);
    color: var(--pane-foreground);
}

.vertical-pane {
    display: flex;
    flex-direction: row;
}

.vertical-pane > div {
    width: 50%;
    flex-grow: 1;
}