<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title id="app-name" class="string"></title>
    <link rel="stylesheet" type="text/css" href="css/themes/dark.css" id="theme">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/languages.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
</head>

<body>
    <input type="file" id="input" style="display:none">
    <a href="" type="file" id="output" style="display:none"></a>
    <div id="app"></div>
    <script type="text/template" id="default_y86_code">
        .pos 0
init:	irmovl Stack, %esp  	# Set up Stack pointer
        jmp Main		        # Execute main program

        .align 4
array:	.long 0xd
        .long 0xc0
        .long 0xb00
        .long 0xa000

Main:	irmovl 4,%eax
        pushl %eax	            # Push 4
        irmovl array, %edx
        pushl %edx              # Push array
        call Sum	            # Sum(array, 4)
        popl %ebx
        popl %ebx
        halt

Sum:	mrmovl 4(%esp),%edx     # edx = Start
        mrmovl 8(%esp),%ecx     # ecx = Count
        irmovl 0, %eax          # sum = 0

Loop:	mrmovl (%edx),%ebx      # get *Start
        addl %ebx,%eax          # add to sum
        iaddl 4, %edx           # Start++
        loop Loop               # Stop when 0

End:	ret                     # result must be abcd in %eax

        .pos 0x95
        Stack:                  # The stack goes here

    </script>
    <script type="text/template" id="default_hcl_code">
        #/* $begin seq-all-hcl */
        #/* $begin seq-plus-all-hcl */
        ####################################################################
        #  HCL Description of Control for Single Cycle Y86 Processor SEQ   #
        #  Copyright (C) Randal E. Bryant, David R. O'Hallaron, 2002       #
        ####################################################################

        ## Your task is to implement the iaddl and leave instructions
        ## The file contains a declaration of the icodes
        ## for leave (ILEAVE).
        ## Your job is to add the rest of the logic to make it work

        ####################################################################
        #    C Include's.  Don't alter these                               #
        ####################################################################

        quote '#include "stdio.h"'
        quote '#include "isa.h"'
        quote '#include "sim.h"'
        quote 'int sim_main(int argc, char *argv[]);'
        quote 'int gen_pc(){return 0;}'
        quote 'int main(int argc, char *argv[])'
        quote '  {plusmode=0;return sim_main(argc,argv);}'

        ####################################################################
        #    Declarations.  Do not change/remove/delete any of these       #
        ####################################################################

        ##### Symbolic representation of Y86 Instruction Codes #############
        intsig INOP 	'I_NOP'
        intsig IHALT	'I_HALT'
        intsig IRRMOVL	'I_RRMOVL'
        intsig IIRMOVL	'I_IRMOVL'
        intsig IRMMOVL	'I_RMMOVL'
        intsig IMRMOVL	'I_MRMOVL'
        intsig IOPL	'I_ALU'
        intsig IJXX	'I_JXX'
        intsig ICALL	'I_CALL'
        intsig IRET	'I_RET'
        intsig IPUSHL	'I_PUSHL'
        intsig IPOPL	'I_POPL'
        # Instruction code for leave instruction
        intsig ILEAVE	'I_LEAVE'

        ##### Symbolic representation of Y86 Registers referenced explicitly #####
        intsig RESP     'REG_ESP'    	# Stack Pointer
        intsig REBP     'REG_EBP'    	# Frame Pointer
        intsig RNONE    'REG_NONE'   	# Special value indicating "no register"

        ##### ALU Functions referenced explicitly                            #####
        intsig ALUADD	'A_ADD'		# ALU should add its arguments

        ##### Signals that can be referenced by control logic ####################

        ##### Fetch stage inputs		#####
        intsig pc 'pc'				# Program counter
        ##### Fetch stage computations		#####
        intsig icode	'icode'			# Instruction control code
        intsig ifun	'ifun'			# Instruction function
        intsig rA	'ra'			# rA field from instruction
        intsig rB	'rb'			# rB field from instruction
        intsig valC	'valc'			# Constant from instruction
        intsig valP	'valp'			# Address of following instruction

        ##### Decode stage computations		#####
        intsig valA	'vala'			# Value from register A port
        intsig valB	'valb'			# Value from register B port

        ##### Execute stage computations	#####
        intsig valE	'vale'			# Value computed by ALU
        boolsig Bch	'bcond'			# Branch test

        ##### Memory stage computations		#####
        intsig valM	'valm'			# Value read from memory


        ####################################################################
        #    Control Signal Definitions.                                   #
        ####################################################################

        ################ Fetch Stage     ###################################

        # Does fetched instruction require a regid byte?
        bool need_regids =
        icode in { IRRMOVL, IOPL, IPUSHL, IPOPL,
        IIRMOVL, IRMMOVL, IMRMOVL };

        # Does fetched instruction require a constant word?
        bool need_valC =
        icode in { IIRMOVL, IRMMOVL, IMRMOVL, IJXX, ICALL };

        bool instr_valid = icode in
        { INOP, IHALT, IRRMOVL, IIRMOVL, IRMMOVL, IMRMOVL,
        IOPL, IJXX, ICALL, IRET, IPUSHL, IPOPL };

        ################ Decode Stage    ###################################

        ## What register should be used as the A source?
        int srcA = [
        icode in { IRRMOVL, IRMMOVL, IOPL, IPUSHL  } : rA;
        icode in { IPOPL, IRET } : RESP;
        1 : RNONE; # Don't need register
        ];

        ## What register should be used as the B source?
        int srcB = [
        icode in { IOPL, IRMMOVL, IMRMOVL  } : rB;
        icode in { IPUSHL, IPOPL, ICALL, IRET } : RESP;
        1 : RNONE;  # Don't need register
        ];

        ## What register should be used as the E destination?
        int dstE = [
        icode in { IRRMOVL, IIRMOVL, IOPL} : rB;
        icode in { IPUSHL, IPOPL, ICALL, IRET } : RESP;
        1 : RNONE;  # Don't need register
        ];

        ## What register should be used as the M destination?
        int dstM = [
        icode in { IMRMOVL, IPOPL } : rA;
        1 : RNONE;  # Don't need register
        ];

        ################ Execute Stage   ###################################

        ## Select input A to ALU
        int aluA = [
        icode in { IRRMOVL, IOPL } : valA;
        icode in { IIRMOVL, IRMMOVL, IMRMOVL } : valC;
        icode in { ICALL, IPUSHL } : -4;
        icode in { IRET, IPOPL } : 4;
        # Other instructions don't need ALU
        ];

        ## Select input B to ALU
        int aluB = [
        icode in { IRMMOVL, IMRMOVL, IOPL, ICALL,
        IPUSHL, IRET, IPOPL } : valB;
        icode in { IRRMOVL, IIRMOVL } : 0;
        # Other instructions don't need ALU
        ];

        ## Set the ALU function
        int alufun = [
        icode == IOPL : ifun;
        1 : ALUADD;
        ];

        ## Should the condition codes be updated?
        bool set_cc = icode in { IOPL };

        ################ Memory Stage    ###################################

        ## Set read control signal
        bool mem_read = icode in { IMRMOVL, IPOPL, IRET };

        ## Set write control signal
        bool mem_write = icode in { IRMMOVL, IPUSHL, ICALL };

        ## Select memory address
        int mem_addr = [
        icode in { IRMMOVL, IPUSHL, ICALL, IMRMOVL } : valE;
        icode in { IPOPL, IRET } : valA;
        # Other instructions don't need address
        ];

        ## Select memory input data
        int mem_data = [
        # Value from register
        icode in { IRMMOVL, IPUSHL } : valA;
        # Return PC
        icode == ICALL : valP;
        # Default: Don't write anything
        ];

        ################ Program Counter Update ############################

        ## What address should instruction be fetched at

        int new_pc = [
        # Call.  Use instruction constant
        icode == ICALL : valC;
        # Taken branch.  Use instruction constant
        icode == IJXX && Bch : valC;
        # Completion of RET instruction.  Use value from stack
        icode == IRET : valM;
        # Default: Use incremented PC
        1 : valP;
        ];
        #/* $end seq-plus-all-hcl */
        #/* $end seq-all-hcl */
    </script>

    <script type="text/template" id="tmpl_app">
        <div id="header">
            <div id="header-left-container">
                <span id="header-title" class="string"></span>
                <button id="assemble-button" class="string header-button tab-0-enabled-button"><i class="fa fa-bolt"></i></button>
                <button id="reset-button" class="string header-button tab-1-enabled-button"><i class="fa fa-redo"></i></button>
                <button id="step-button" class="string header-button tab-0-enabled-button tab-1-enabled-button tab-2-enabled-button tab-3-enabled-button"><i class="fa fa-angle-right"></i></button>
                <button id="continue-button" class="string header-button tab-0-enabled-button tab-1-enabled-button"><i class="fa fa-angle-double-right"></i></button>
                <button id="load-button" class="string header-button tab-0-enabled-button tab-2-enabled-button tab-3-enabled-button"><i class="fa fa-file"></i></button>
                <button id="save-button" class="string header-button tab-0-enabled-button tab-2-enabled-button tab-3-enabled-button"><i class="fa fa-save"></i></button>
            </div>
            <div id="header-right-container">
                <a id="examples-link" class="string header-button" href="https://github.com/xsznix/js-y86/tree/master/samples"></a>
                <a id="wiki-link" class="string header-button" href="https://github.com/xsznix/js-y86/wiki"></a>
                <a id="git-link" class="string header-button" href="https://github.com/orel33/js-y86"><i class="fab fa-github"></i></a>
                <button class="header-button icon-only" onclick="nextTheme()"><i class="fa fa-sun"></i></button>
                <a href="https://www.u-bordeaux.fr/"><img id="branding" src="images/branding.png"></a>
            </div>
        </div>
        <div id="tab-buttons-container">
            <button id="tab-0-button" class="string tab-button" onclick="setActiveTab(0)"></button>
            <button id="tab-1-button" class="string tab-button" onclick="setActiveTab(1)"></button>
            <button id="tab-2-button" class="string tab-button" onclick="setActiveTab(2)"></button>
            <button id="tab-3-button" class="string tab-button" onclick="setActiveTab(3)"></button>
        </div>
        <div id="tab-contents-container">
            <div id="tab-0-content" class="tab-content">
                <div class="tab-content-container"></div>
            </div>
            <div id="tab-1-content" class="tab-content">
                <div class="tab-content-container"></div>
            </div>
            <div id="tab-2-content" class="tab-content">
                <div class="tab-content-container"></div>
            </div>
            <div id="tab-3-content" class="tab-content">
                <div class="tab-content-container"></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tmpl_editor">
        <h2>Source code</h2>
        <div class="code"><%= code %></div>
    </script>

    <script type="text/template" id="tmpl_execution">
        <div class="execution horizontal-pane">
            <div class="inspector vertical-pane">
                <div class="processorstate"></div>
                <div class="registers-wrapper"></div>
            </div>
            <div class="object"></div>
            <div class="memory"></div>
        </div>
    </script>

    <script type="text/template" id="tmpl_processor_state">
        <h2>Processor State</h2>
        <h3>PC Update Stage</h3>
        <div class="stage">
            <div class="Indicator">
                <div class="label">NewPC</div>
                <div class="value"><%= newPC %></div>
            </div>
        </div>
        <h3>Memory Stage</h3>
        <div class="stage">
            <div class="Indicator">
                <div class="label">ValM</div>
                <div class="value"><%= valM %></div>
            </div>
        </div>
        <h3>Execute Stage</h3>
        <div class="stage">
            <div class="Indicator">
                <div class="label">Branchement</div>
                <div class="value"><%= bch %></div>
            </div>
            <div class="Indicator">
                <div class="label">ValE</div>
                <div class="value"><%= valE %></div>
            </div>
        </div>
        <h3>Decode Stage</h3>
        <div class="stage">
            <div class="Indicator">
                <div class="label">ValA</div>
                <div class="value"><%= valA %></div>
            </div>
            <div class="Indicator">
                <div class="label">ValB</div>
                <div class="value"><%= valB %></div>
            </div>
            <div class="Indicator">
                <div class="label">DstE</div>
                <div class="value"><%= destE %></div>
            </div>
            <div class="Indicator">
                <div class="label">DstM</div>
                <div class="value"><%= destM %></div>
            </div>
            <div class="Indicator">
                <div class="label">SrcA</div>
                <div class="value"><%= srcA %></div>
            </div>
            <div class="Indicator">
                <div class="label">SrcB</div>
                <div class="value"><%= srcB %></div>
            </div>
        </div>
        <h3>Fetch Stage</h3>
        <div class="stage">
            <div class="Indicator">
                <div class="label">Instr</div>
                <div class="value"><%= instr %></div>
            </div>
            <div class="Indicator">
                <div class="label">RegA</div>
                <div class="value"><%= regA %></div>
            </div>
            <div class="Indicator">
                <div class="label">RegB</div>
                <div class="value"><%= regB %></div>
            </div>
            <div class="Indicator">
                <div class="label">ValC</div>
                <div class="value"><%= valC %></div>
            </div>
            <div class="Indicator">
                <div class="label">ValP</div>
                <div class="value"><%= valP %></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tmpl_registers">
        <div class="column register_column">
            <h3>Registers</h3>
            <div class="register">
                <div class="label">%eax</div>
                <div class="value_hex"><%= eax_hex %></div>
                <div class="value_dec"><%= eax_dec %></div>
            </div>
            <div class="register">
                <div class="label">%ecx</div>
                <div class="value_hex"><%= ecx_hex %></div>
                <div class="value_dec"><%= ecx_dec %></div>
            </div>
            <div class="register">
                <div class="label">%edx</div>
                <div class="value_hex"><%= edx_hex %></div>
                <div class="value_dec"><%= edx_dec %></div>
            </div>
            <div class="register">
                <div class="label">%ebx</div>
                <div class="value_hex"><%= ebx_hex %></div>
                <div class="value_dec"><%= ebx_dec %></div>
            </div>
            <div class="register">
                <div class="label">%esp</div>
                <div class="value_hex"><%= esp_hex %></div>
                <div class="value_dec"><%= esp_dec %></div>
            </div>
            <div class="register">
                <div class="label">%ebp</div>
                <div class="value_hex"><%= ebp_hex %></div>
                <div class="value_dec"><%= ebp_dec %></div>
            </div>
            <div class="register">
                <div class="label">%esi</div>
                <div class="value_hex"><%= esi_hex %></div>
                <div class="value_dec"><%= esi_dec %></div>
            </div>
            <div class="register">
                <div class="label">%edi</div>
                <div class="value_hex"><%= edi_hex %></div>
                <div class="value_dec"><%= edi_dec %></div>
            </div>
        </div>
        <div class="column status_column">
            <h3>Flags</h3>
            <div class="flags">
                <div class="flag">
                    <div class="label">SF</div>
                    <div class="value"><%= sf %></div>
                </div>
                <div class="flag">
                    <div class="label">ZF</div>
                    <div class="value"><%= zf %></div>
                </div>
                <div class="flag">
                    <div class="label">OF</div>
                    <div class="value"><%= of %></div>
                </div>
            </div>
            <h3 class="status_header">Status</h3>
            <div class="status">
                <div class="label">STAT</div>
                <div class="value"><%= stat %></div>
            </div>
            <div class="err">
                <div class="label">ERR</div>
                <div class="value"><%= err %></div>
            </div>
            <div class="pc">
                <div class="label">PC</div>
                <div class="value"><%= pc %></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tmpl_memory">
        <h2>Memory</h2>
        <div class="mem-header">
            <div class="address">Addr</div>
            <div class="value">Value</div>
        </div>
        <div class="mem-words-wrapper">
            <div class="mem-words">
                <div class="stack-pointers">
                    <div class="ebp"><i class="fa fa-caret-left"></i> EBP</div>
                    <div class="esp"><i class="fa fa-caret-left"></i> ESP</div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tmpl_object_code">
        <h2>Object code</h2>
        <div class="lines-wrapper">
            <div class="lines"></div>
        </div>
    </script>

    <script type="text/template" id="tmpl_object_code_error">
        <div class="line-no">Line <%= lineno %></div>
        <div class="source"><%= source %></div>
    </script>

    <script type="text/template" id="tmpl_mem_word">
        <div class="address"><%= address %></div>
        <div class="value"><%= value %></div>
    </script>

    <script type="text/template" id="tmpl_hcl_editor">
        <h2>HCL code</h2>
        <div class="hcl_code"><%= hcl_code %></div>
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>


    <script>
        $(function () {
            var app = new AppView();
            $('#app').append(app.$el);
        });

        // Don't lose unsaved work!
        window.onbeforeunload = function () {
            return 'All unsaved work will be lost!';
        }


    </script>

    <script src="js/ace/ace.js"></script>

    <script src="js/y86.js"></script>
    <script src="js/assem.js"></script>
    <script src="js/instr.js"></script>
    <script src="js/general.js"></script>
    <script src="js/syntax.js"></script>

    <script src="js/views/app.js"></script>
    <script src="js/views/editor.js"></script>
    <script src="js/views/execution.js"></script>
    <script src="js/views/memory.js"></script>
    <script src="js/views/registers.js"></script>
    <script src="js/views/objcode.js"></script>
    <script src="js/views/procstate.js"></script>
    <script src="js/views/hcl.js"></script>



</body>

</html>